*.iml
.idea/
.gradle/
local.properties
/HackGSUProjectIdea/.idea/caches
/HackGSUProjectIdea/.idea/libraries
/HackGSUProjectIdea/.idea/modules.xml
.idea/workspace.xml
/HackGSUProjectIdea/.idea/navEditor.xml
/HackGSUProjectIdea/.idea/assetWizardSettings.xml
/HackGSUProjectIdea/.DS_Store

build/
/HackGSUProjectIdea/captures
/HackGSUProjectIdea/.externalNativeBuild
/HackGSUProjectIdea/.cxx