/HackGSUProjectIdea/*.iml
/HackGSUProjectIdea/.gradle
/HackGSUProjectIdea/local.properties
/HackGSUProjectIdea/.idea/caches
/HackGSUProjectIdea/.idea/libraries
/HackGSUProjectIdea/.idea/modules.xml
/HackGSUProjectIdea/.idea/workspace.xml
/HackGSUProjectIdea/.idea/navEditor.xml
/HackGSUProjectIdea/.idea/assetWizardSettings.xml
/HackGSUProjectIdea/.DS_Store
/HackGSUProjectIdea/build
/HackGSUProjectIdea/captures
/HackGSUProjectIdea/.externalNativeBuild
/HackGSUProjectIdea/.cxx
/QuickLauncher
/MyFirstApp